.x-carousel{
	display: block;
	overflow: hidden;
	position: relative;
    text-align: center;
}
.x-carousel-indicators{
    display: inline-block;
    position: relative;
    z-index: 20;
    bottom: 30px;
    height: 20px;
    padding: 0;
    margin: auto;
}
.x-carousel-indicators li{
	padding: 0;
	margin: 0;
	list-style: none;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	background: #fff;
	float: left;
	margin: 0 5px;
	cursor: pointer;
}
.x-carousel-indicators li.active{
	background: #2DAAFF;
}
.x-carousel-inner{
	display: block;
	position: relative;
	overflow: hidden;
}
.x-carousel-inner .item{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	text-align: center;
	display: none;
}
.x-carousel-inner .item.active{
	z-index: 10;
	display: block;
}
.x-carousel-inner .item>.img{
	width: 100%;
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
}